/* About Page */
.aboutPage {
    background-image: linear-gradient(0.45turn, #61b4b8, #0f9ea8);
    margin: 0px;
  }

  .aboutPage h2 {
    color: #fff;
    font-size: 5rem;
    margin: 2rem 2rem 2rem auto;
    text-align: right;
    font-family: 'Lato', sans-serif;
  }

  .aboutPage .subtitle {
    color: rgb(219, 219, 219);
    font-weight: 300;
    font-size: 3rem;
    line-height: 0;
    margin: 2rem 2rem 3rem auto;
    text-align: right;
  }

  .aboutContent {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .rightCont {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 2.5rem;
  }
  
  .aboutPage section{
    background-color: var(--bglightest);
    color: var(--fontprimary);
    margin: 0px 1.7rem 2rem 1.7rem;
    box-shadow: 1px 3px 3px var(--shadows);
    text-align: left;
    padding: 0px;
    border: none;
    display: flex;
    align-items: flex-end;
    font-size: 1.1rem;
    border-radius: 5px;
    height: min-content;
  }
  
  .aboutPage .text {
    padding: 16px 32px;
    line-height: 1.6rem;
    height: 100%;
    align-self: flex-start;
  }
  
  .aboutPage h3,
  .aboutPage h4,
  .aboutPage .skillsTitle {
    font-family: 'Slabo 13px', serif;
    color: #fff;
    letter-spacing: 0.6rem;
    text-align: left;
    margin: 32px auto 0px 48px;
    font-size: 2.5rem;
  }

  .aboutPage .skillsTitle {
    margin: 32px auto 0px 24px;
  }
  
  .photoContainer {
    margin: 0px 0px 0px auto;
    min-width: 30%;
    max-width: 45%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0px 5px 5px 0px;
  }

  .photoContainer img {
    max-height: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
  }
  
  .aboutPage .fauxNav {
    background-color: var(--bglightest);
    padding: 2px 32px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .aboutPage .fauxNav p {
    padding: 0px 16px;
    font-family: 'Flow Circular', sans-serif;
    color: #bd9576;
    transition: .2s ease;
  }

  .aboutPage .fauxNav p:hover {
    color: #61b4b8;
    cursor: default;
  }
  
  .aboutPage aside {
    text-align: left;
    width: max-content;
    height: 100%;
    background-color: #bd9576;
    margin: 0px auto 0px 0px;
    border-right: 4px solid #83cacd;
}

.aboutPage aside .skills {
  display: flex;
  flex-flow: column nowrap;
  text-align: flex-start;
  justify-content: flex-start;
  padding-bottom: 2rem;
  margin-bottom: 0;
  height: 100%;
}
  
  .aboutPage aside .instruction {
    color: #fff;
    padding: 0px 16px;
    margin: 5px;
  }

  .aboutPage .instruction {
    color: var(--fontsecondary);
    padding: 0px 16px;
    margin: 5px;
  }
  
  footer.aboutFooter {
    background-color:#745b47;
    height: 3rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }

  .aboutFooter p {
    font-family: 'Flow Circular', sans-serif;
    color: #fff;
    transition: .2s ease;
  }

  .aboutFooter p:hover {
    color: #61b4b8;
    cursor: default;
  }

  .blockedOut {
    font-size: 24px;
    margin: 0px;
  }

  .studyingIcons {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .devIcon {
    width: auto;
    height: 4rem;
    transition: .3s ease;
    filter: var(--iconbrightness);
    margin: 0.8rem;
    padding: 0;
  }

  .devIcon:hover {
    transform: scale(110%);
    cursor: pointer;
    filter: none;
  }

@media only screen and (max-width: 1150px) {
  .aboutContent {
    flex-flow: row-reverse wrap;
  }

  .aboutContent h2 {
    font-size: 3rem;
  }

  .aboutPage aside {
    width: 100%;
    border-right: none;
    border-top: 4px solid #83cacd;
  }

  .aboutPage aside .skills {
    width: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .skillCard {
    margin: 8px;
  }
}

@media only screen and (max-width: 500px) {
  .aboutPage section {
    margin: 0.6rem;
  }

  .aboutPage h3,
  .aboutPage h4 {
    font-size: 2rem;
    margin: 0.3rem 2rem;
  }
}

@media only screen and (max-width: 1616px) {
  .photoContainer img {
    height: 700px;
  }
}

@media only screen and (max-width: 1245px) {
  .photoContainer img {
    height: 800px;
  }
}

@media only screen and (max-width: 1170px) {
  .photoContainer img {
    height: 900px;
  }
}

@media only screen and (max-width: 760px) {
  .photoContainer {
    display: none;
  }

  .rightCont {
    padding: 0 0.2rem;
  }
}