.faqBox {
    background-color: var(--maindark);
    padding: 20px;
    margin: 48px;
    border-radius: 15px;
    overflow: hidden;
    width: 400px;
    text-align: left;
    box-shadow: 2px 2px 2px var(--shadows);

    transition: .3s ease;
}

.faqBox h3 {
    padding: 0px 32px;
}

.faqs {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    padding: 0px;
    width: 350px;
}

.faq-icon {
    display: inline;
    padding: 0px 16px 0px 0px;
    font-size: 1.7rem;
}

.icon-right {
    color: var(--fontsecondary);
    margin-left: auto;
}

.faq-menu-item {
    padding: 16px;
    transition: .2s ease;
    border-radius: 15px;
    width: 330px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.faq-response {
    width: 350px;
    font-size: 1.1rem;
}

.faq-response h4 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.faq-response a {
    font-size: 1.1rem;
    color: var(--contrastpink);
    transition: .2s ease;
}

.faq-response a:hover {
    color: var(--mainlight);
    cursor: pointer;
}

.faq-menu-item:hover {
    background-color: var(--mainmedlight);
}

.faq-menu {
    padding: 16px;
    margin: 0px;
}

.faq-menu-primary-enter {
    transform: translateX(-110%);
}
.faq-menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 300ms ease;
}
.faq-menu-primary-exit-active {
    transform: translate(-110%);
    transition: all 300ms ease;
}
.faq-menu-secondary-enter {
    transform: translateX(110%);
}
.faq-menu-secondary-enter-active {
    transform: translate(-100%);
    transition: all 300ms ease;
}
.faq-menu-secondary-exit-active {
    transform: translate(110%);
    transition: all 300ms ease;
}