.skillCard {
    background-color: var(--bglight);
    padding: 1.1rem;
    margin: 0.4rem 1rem;
    border-radius: 5px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .2s ease;
    
}

.skillCard:hover {
    cursor: pointer;
    transform: scale(105%);
    filter: none;
}

.skillCard h5 {
    font-size: 1.2rem;
    margin: 0 auto 0 1rem;
    line-height: 0.5rem;
    font-weight: 400;
    color: var(--fontprimary);
}

.skillScale {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: var(--fontsecondary);
}

p.skillScale {
    line-height: 0;
    font-size: 1rem;
    margin: 0.8rem 0 0 1rem;
}

.levelIndicator {
    padding: 0.02rem;

}

.skillCard .skillIcon {
    width: 3rem;
    height: auto;
    margin: 0;
}

.skillCard .skillIcon:hover {
    cursor: pointer;
}