.skillCard {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    color: #333;
    text-align: center;
    min-width: 200px;
    min-height: 150px;
}

.skills {
    background-color: #bd9576;
    overflow: scroll;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    border-top: 4px solid #83cacd;
    border-bottom: 4px solid #83cacd;
}

.skillIcon {
    font-size: 4rem;
}

.skills button {
    border: none;
    transition: .2s ease-in-out;
    box-shadow: 0px 3px 3px #666;
}

.skills button .faHtml5,
.skills button .faCss3,
.skills button .faJsSquare,
.skills button .faNodeJs,
.skills button .faReact,
.skills button .faPhp,
.skills button .faGitAlt,
.skills button .faGithub,
.skills button .faWordpress {
    transition: all .2s ease-in-out;
    color: #f0c5a5;
}

.skills button.activeInfo {
    width: 450px;
    height: 150px;
}

.skills button:hover .faHtml5 {
    color: #e34f26;
}

.skills .activeInfo .faHtml5 {
    color: #e34f26;
    float: left;
}

.skills button:hover .faCss3 {
    color: #264de4;
}

.skills .activeInfo .faCss3 {
    color: #264de4;
    float: left;
}

.skills button:hover .faJsSquare {
    color: #f7df1e;
}

.skills .activeInfo .faJsSquare {
    color: #f7df1e;
    float: left;
}

.skills button:hover .faNodeJs {
    color: #215732;
}

.skills .activeInfo .faNodeJs {
    color: #215732;
    float: left;
}

.skills button:hover .faReact {
    color: #00d8ff;
}

.skills .activeInfo .faReact {
    color: #00d8ff;
    float: left;
}

.skills button:hover .faPhp {
    color: #4f5b93;
}

.skills .activeInfo .faPhp {
    color: #4f5b93;
    float: left;
}

.skills button:hover .faGitAlt {
    color: #f34f29;
}

.skills .activeInfo .faGitAlt {
    color: #f34f29;
    float: left;
}

.skills button:hover .faGithub {
    color: #333;
}

.skills .activeInfo .faGithub {
    color: #333;
    float: left;
}

.skills button:hover .faWordpress {
    color: #21759b;
}

.skills .activeInfo .faWordpress {
    color: #21759b;
    float: left;
}