header {
    background-color: var(--browserlight);
    height: 5vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fauxUrlBar {
    background-color: #fff;
    text-align: left;
    border-radius: 5px;
    margin: 5px;
    width: 85%;
}

.fauxUrlBar h1,
.fauxUrlBar h2,
.fauxUrlBar p {
    display: inline;
    font-size: 18px;
    padding: 10px;
    font-family: 'Lato', serif;
    font-weight: 400;
}

.browserControlButton {
    color: var(--fontprimary);
    font-size: 20px;
    background-color: transparent;
    border: none;
    transition: 0.5s ease;
    padding: 6px 4px;
    border-radius: 10px;
    line-height: 0px;
}

.browserControlButton:hover {
    background-color: #bebebe;
    cursor: pointer;
}

.browserControlButton:active {
    background-color: #a9a9a9;
}

@media screen and (max-width: 600px) {
    .fauxUrlBar {
        display: none;
    }
}