/* Global Footer Settings */
footer {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0px;
}

footer p, 
footer a {
    font-size: 1rem;
    color: #fff;
    transition: .2s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
}

/* HomePage */
.homePage footer {
    background-color: #BF0426;
}

.homePage footer a:hover {
    background-color: #fff;
    color: #BF0426;
}

.homePage footer a:active {
    background-color: #04ADBF;
}
