/* App Base */
.App {
  text-align: center;
  background-image: url('./images/matt-hoffman-Q0AM87PsYkE-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  min-width: 90vw;
  padding: 10px 10px 0px 10px;
}

.Monitor {
  height: 90vh;
  border: 30px solid #b7b7b7;
  border-radius: 30px;
  margin: 1px 1px 0px 1px;
  box-shadow: 5px 5px 3px rgba(50, 50, 50, 0.4);
  z-index: 10;
}

.Screen {
  border-top: 3px solid #808080;
  border-left: 3px solid #808080;
  border-bottom: 3px solid #e0e0e0;
  border-right: 3px solid #e0e0e0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.Stand{
  background-image: linear-gradient(#6b6b6b, #b7b7b7);
  width: 20%;
  height: 23px;
  margin: 0px auto;
}

.Logo {
  width: 200px;
  height: auto;
}

.page {
  overflow: scroll;
  z-index: 1;
  width: 100%;
  margin: 0px;
  height: 90%;
  letter-spacing: 1.2px;
  scrollbar-width: thin; 
}


h3 {
  font-family: 'Slabo 13px', serif;
}

p {
  font-family: 'Lato', sans-serif;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .Monitor {
    border: none;
    margin: 0px;
  }

  .Stand {
    display: none;
  }

  .Screen {
    margin: 0px;
    border: none;
    height: 100vh;
  }

  .App {
    margin: 0px;
    padding: 0px;
  }
}